{% if not data : %}
<tr>
  <td colspan="9" class="text-center">No results found</td>
</tr>
<tr>
  <th></th>
  <th>Order ID</th>
  <th>Users Name</th>
  <th>Status</th>
  <th>Payment ID</th>
  <th>Item Count</th>
  <th>Total</th>
  <th class="text-center">Action</th>
</tr>
{% else %}
{% for order in data :%}
<tr>
  <td><input type="checkbox" /></td>
  <td id="prod_id_{{order.id}}">{{order.id}}</td>
  <td id="prod_name_{{order.id}}">{{order.user_name}}</td>
  <td>{{order.status}}</td>
  <td>{{order.token_id}}</td>
  <td>{{order.item_count}}</td>
  <td>{{order.total}}</td>
  <td class="status invited text-center"><button onclick="updateProduct('{{order.id}}')" class="btn btn-outline-success"
      type="button">Update</button></td>
</tr>
{% endfor %}
{% endif %}