{% extends "base.html" %} {% block content %}

<style>
  .login {
    width: 300px;
    padding: 20px;
    border: 2px solid gray;
    margin: 20px;
    height: fit-content;
    box-shadow: 5px 10px 0px 0px gray;
  }

  .login-form {
    display: flex;
    flex-flow: column wrap;
  }

  .login-form * {
    margin-top: 20px;
  }

  .login-form input {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    padding: 10px;
  }

  .login-form input:focus {
    box-shadow: none;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    outline: none;
  }

  .login-form button {
    margin-top: 20px;
    padding: 10px;
  }
</style>
<section
  class="w-100 d-flex justify-content-center align-items-center"
  style="height: 600px"
>
  <div class="login">
    <h2>Login</h2>
    <form action="{{url_for('login.login')}}" method="post" class="login-form">
      <input type="text" placeholder="Email" />
      <input type="password" placeholder="Password" />
      {% if error %}
      <p>{{error}}</p>
      {% endif %}
      <button>Login</button>
    </form>
  </div>
</section>

{% endblock %}
