{% extends "base.html" %}
{% block content %}
<div class="container py-4">
  <h3 class="mb-4">Users</h3>

  <style>
    .pop-up-container {
      background: linear-gradient(135deg, #fdfdfd, #d0d795);
      position: fixed;
      display: none;
      justify-content: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 20px;
      overflow-y: scroll;
    }
  </style>

  <!-- Add Product -->
  <div class="pop-up-container" id="pop-up-container">
    <div class="pop-up col-10">
      <form id="product_form" action="{{url_for('user.home')}}" method="post" class="row d-flex justify-content-center">
        <div class="d-flex justify-content-between">
          <h2 id="pop-title">Add New User</h2>
          <div class="d-flex">
            <button class="btn btn-outline-primary">Save</button>
            <button type="button" id="form_delete_btn" class="btn btn-outline-danger text-center"
              style="display: none;"><a href="" id="form_link">Delete</a></button>
            <button type="button" onclick="popUser()" class="btn btn-outline-danger">
              Cancel
            </button>
          </div>
        </div>
        <div class="col-3 p-2 m-2">
          <div class="border d-flex row border p-3" style="border-radius: 20px">
            <p class="fw-bold f-3 p-2 border-bottom">Thumbnail</p>
            <img src="" alt="" width="150" height="150" />
            <p class="text-center fs-9 mt-2">Only *.png, *.jpg, *.jpeg</p>
          </div>
          <div class="border d-flex row border p-3 mt-2" style="border-radius: 20px">
            <p class="fw-bold f-3 border-bottom p-2">Product Details</p>
            <label for="">Categories</label>
            <div class="dropdown border mt-2">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="width: 100%">
                Select an option
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 p-2 m-2">
          <div class="border d-flex row border p-3" style="border-radius: 20px">
            <p class="fw-bold f-3 p-2 border-bottom">General</p>
            <input type="number" name="id" id="form_id" style="display: none" />
            <label for="">User Name</label>
            <input class="border rounded p-2" type="text" name="name" id="form_name" />
            <p class="fs-9">User name is required and must be unique.</p>
            <label for="">User Email</label>
            <input class="border rounded p-2" type="email" name="email" id="form_email" />
            <p class="fs-9">Email must not be use on same account.</p>
            <label for="">Password</label>
            <input class="border rounded p-2" type="text" name="password" id="form_password" value="admin-12345" />
            <p class="fs-9" id="form_password_message">Password will be set as defualt.</p>

          </div>
          <div class="btn-group" role="group" aria-label="Basic radio toggle button group">
            <input type="radio" name="form_role" class="btn-check" id="btncheck1" value="ADMIN" autocomplete="off" />
            <label class="btn btn-outline-primary rounded-pill m-2" for="btncheck1">Admin</label>

            <input type="radio" name="form_role" class="btn-check" id="btncheck2" value="MODERATOR"
              autocomplete="off" />
            <label class="btn btn-outline-primary rounded-pill m-2" for="btncheck2">Moderator</label>

            <input type="radio" name="form_role" class="btn-check" id="btncheck3" value="USER" autocomplete="off" />
            <label class="btn btn-outline-primary rounded-pill m-2" for="btncheck3">User</label>
          </div>

        </div>
      </form>
    </div>
  </div>


  <!-- Search -->
  <div class="d-flex search-m justify-content-between">
    <div class="d-flex gap-4 search-1">
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Role
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
            <div class="search-input">
        <form
          hx-get="{{url_for('user.search')}}"
          hx-target="#results"
          hx-trigger="keyup changed delay:300ms"
          class="d-flex justify-content-between"
        >
          <input
            type="text"
            name="q"
            class="form-control"
            placeholder="Search..."
          />
          <button class="btn btn-light" style="margin-left: 20px" type="submit">
            Search
          </button>
        </form>
      </div>
    </div>
    <div class="d-flex gap-2 search-2 ">
      <button class="btn btn-light" onclick="popUser()">+</button>
      <button class="btn btn-light">=</button>
      <button class="btn btn-light">Export</button>
    </div>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th></th>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>CreatedAt</th>
          <th>UpdateAt</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody id="results">
        {% include "_users.html" %}
      </tbody>
    </table>
  </div>
</div>
<script>
  function popUser() {
    var container = document.querySelector("#pop-up-container");
    var form = document.querySelector("#product_form");
    var title = document.querySelector("#pop-title");

    var form_delete_btn = document.querySelector("#form_delete_btn");


    var form_id = document.querySelector("#form_id");
    var form_name = document.querySelector("#form_name");
    var form_email = document.querySelector("#form_email");
    var form_password = document.querySelector("#form_password");

    form_password.style.display = "block";
    form_password.type = "text";
    form_delete_btn.style.display = "none";
    form_id.value = ""
    form_name.value = ""
    form_email.value = ""

    title.textContent = "Add New User";

    if (container.style.display == "flex") {
      container.style.display = "none";
    } else {
      container.style.display = "flex";
    }
  }

  function updateUser(id) {
    var container = document.querySelector("#pop-up-container");
    var title = document.querySelector("#pop-title");


    title.textContent = "Update User";

    var name = document.querySelector("#user_name_" + id).textContent;
    var email = document.querySelector(
      "#user_email_" + id
    ).textContent;
    var role = document.querySelector("#user_role_" + id).textContent;

    var form_delete_btn = document.querySelector("#form_delete_btn");
    var form_link = document.querySelector("#form_link");

    form_delete_btn.style.display = "block";
    form_link.href = `/dashboard/users/delete/${id}`;

    var form_id = document.querySelector("#form_id");
    var form_name = document.querySelector("#form_name");
    var form_role = document.querySelector("#form_role");
    var form_email = document.querySelector("#form_email");
    var form_password = document.querySelector("#form_password");

    form_id.value = id;
    form_name.value = name;
    form_email.value = email;

    form_email.readOnly = true;
    // form_password.style.display = "none";
    form_password.readOnly = true;
    form_password.type = "password";

    setRole(role)

    container.style.display = "flex";
  }

  function setRole(role) {
    role = role.toLowerCase()

    const radios = document.querySelectorAll("input[name='form_role']")

    radios.forEach(radio => {
      radio.checked = radio.value.toLowerCase() === role;
    })
  }
</script>
{% endblock %}