{% extends "base.html" %}
{% block content %}
<div class="container py-4">
  <h3 class="mb-4">Users</h3>

  <style>
    .pop-up-container {
      background: linear-gradient(135deg, #fdfdfd, #d0d795);
      position: fixed;
      display: flex;
      justify-content: center;
      z-index: 1;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      padding: 20px;
      overflow-y: scroll;
    }
  </style>

  <!-- Add Product -->
  <div class="pop-up-container" id="pop-up-container">
    <div class="pop-up col-10">
      <form id="product_form" action="{{url_for('product.product')}}" method="post"
        class="row d-flex justify-content-center">
        <div class="d-flex justify-content-between">
          <h2 id="pop-title">Add New User</h2>
          <div class="d-flex">
            <button class="btn btn-outline-primary">Save</button>
            <button type="button" id="form_delete_btn" class="btn btn-outline-danger text-center"
              style="display: none;"><a href="" id="form_link">Delete</a></button>
            <button type="button" onclick="popProduct()" class="btn btn-outline-danger">
              Cancel
            </button>
          </div>
        </div>
        <div class="col-3 p-2 m-2">
          <div class="border d-flex row border p-3" style="border-radius: 20px">
            <p class="fw-bold f-3 p-2 border-bottom">Thumbnail</p>
            <img src="" alt="" width="150" height="150" />
            <p class="text-center fs-9 mt-2">Only *.png, *.jpg, *.jpeg</p>
          </div>
          <div class="border d-flex row border p-3 mt-2" style="border-radius: 20px">
            <p class="fw-bold f-3 border-bottom p-2">Product Details</p>
            <label for="">Categories</label>
            <div class="dropdown border mt-2">
              <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false" style="width: 100%">
                Select an option
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-8 p-2 m-2">
          <div class="border d-flex row border p-3" style="border-radius: 20px">
            <p class="fw-bold f-3 p-2 border-bottom">General</p>
            <input type="number" name="id" id="form_id" style="display: none" />
            <label for="">User Name</label>
            <input class="border rounded p-2" type="text" name="name" id="form_name" />
            <p class="fs-9">User name is required and must be unique.</p>
            <label for="">Password</label>
            <input class="border rounded p-2" type="text" name="name" id="form_name" value="admin-12345" />
            <p class="fs-9">Password will be set as defualt.</p>
            
          </div>
          <div class="border d-flex row border p-3 mt-2" style="border-radius: 20px">
            <p class="fw-bold f-3 p-2 border-bottom">User Type</p>
            <div class="btn-group" role="group" aria-label="Basic checkbox toggle button group">
              <input type="checkbox" class="btn-check" id="btncheck1" autocomplete="off" />
              <label class="btn btn-outline-primary rounded-pill m-2" for="btncheck1">Admin</label>

              <input type="checkbox" class="btn-check" id="btncheck2" autocomplete="off" />
              <label class="btn btn-outline-primary rounded-pill m-2" for="btncheck2">Moderator</label>

              <input type="checkbox" class="btn-check" id="btncheck3" autocomplete="off" />
              <label class="btn btn-outline-primary rounded-pill m-2" for="btncheck3">User</label>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>

  <!-- Stats -->
  <div class="row mb-4">
    <div class="col-md-3">
      <p>Interviews: 25%</p>
      <div class="progress">
        <div class="progress-bar bg-dark" style="width: 25%"></div>
      </div>
    </div>
    <div class="col-md-3">
      <p>Hired: 51%</p>
      <div class="progress">
        <div class="progress-bar bg-warning" style="width: 51%"></div>
      </div>
    </div>
    <div class="col-md-3">
      <p>Project Time: 10%</p>
      <div class="progress">
        <div class="progress-bar bg-info" style="width: 10%"></div>
      </div>
    </div>
    <div class="col-md-3">
      <p>Output: 14%</p>
      <div class="progress">
        <div class="progress-bar bg-secondary" style="width: 14%"></div>
      </div>
    </div>
  </div>

  <!-- Search -->
  <div class="d-flex search-m justify-content-between">
    <div class="d-flex gap-4 search-1">
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Culomns
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Product Type
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          Role
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>
      <div class="search-input">
        <input type="text" class="form-control" placeholder="Search..." />
      </div>
    </div>
    <div class="d-flex gap-2 search-2 ">
      <button class="btn btn-light">+</button>
      <button class="btn btn-light">=</button>
      <button class="btn btn-light">Export</button>
    </div>
  </div>

  <!-- Table -->
  <div class="table-responsive">
    <table class="table table-hover align-middle">
      <thead class="table-light">
        <tr>
          <th></th>
          <th>Name</th>
          <th>Email</th>
          <th>Role</th>
          <th>CreatedAt</th>
          <th>UpdateAt</th>
          <th class="text-center">Status</th>
        </tr>
      </thead>
      <tbody>
        {% if data :%}
        {% for user in data : %}
        <tr>
          <td><input type="checkbox" /></td>
          <td>
            <img src="https://via.placeholder.com/32" class="avatar" />
            {{user.name}}
          </td>
          <td>{{user.email}}</td>
          <td>{{user.role}}</td>
          <td>Mar 13, 2023</td>
          <td>Hired</td>
          <td class="status invited text-center"><a href="">Invited</a></td>
        </tr>
        {% endfor %}
        {% else %}
        <td colspan="7" class="text-center">No results found</td>
        {% endif %}
        <tr class="highlight">
          <td><input type="checkbox" checked /></td>
          <td>
            <img src="https://via.placeholder.com/32" class="avatar" />
            Ksenia Bator
          </td>
          <td>Fullstack Engineer</td>
          <td>Miami</td>
          <td>Oct 13, 2023</td>
          <td>Hired</td>
          <td class="status absent text-center"><a href="">Absent</a></td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>
            <img src="https://via.placeholder.com/32" class="avatar" />
            Bogdan Nikitin
          </td>
          <td>Mobile Lead</td>
          <td>$2,600</td>
          <td>Nov 4, 2023</td>
          <td>Employed</td>
          <td class="status invited text-center"><a href="">Invited</a></td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>
            <img src="https://via.placeholder.com/32" class="avatar" />
            Arsen Yatsenko
          </td>
          <td>Sales Manager</td>
          <td>$900</td>
          <td>Sep 4, 2021</td>
          <td>Employed</td>
          <td class="status invited text-center"><a href="">Invited</a></td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>
            <img src="https://via.placeholder.com/32" class="avatar" />
            Daria Yurchenko
          </td>
          <td>Network Engineer</td>
          <td>Product</td>
          <td>Feb 21, 2023</td>
          <td>Hired</td>
          <td class="status invited text-center"><a href="">Invited</a></td>
        </tr>
        <tr>
          <td><input type="checkbox" /></td>
          <td>
            <img src="https://via.placeholder.com/32" class="avatar" />
            Yulia Polishchuk
          </td>
          <td>Head of Design</td>
          <td>Product</td>
          <td>Aug 2, 2024</td>
          <td>Employed</td>
          <td class="status absent text-center"><a href="">Absent</a></td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<script>
  function popProduct() {
    var container = document.querySelector("#pop-up-container");
    var form = document.querySelector("#product_form");
    var title = document.querySelector("#pop-title");

    var form_delete_btn = document.querySelector("#form_delete_btn");


    var form_id = document.querySelector("#form_id");
    var form_name = document.querySelector("#form_name");
    var form_description = document.querySelector("#form_description");

    form_delete_btn.style.display = "none";
    form_id.value = ""
    form_name.value = ""
    form_description.value = ""

    title.textContent = "Add New User";

    if (container.style.display == "flex") {
      container.style.display = "none";
    } else {
      container.style.display = "flex";
    }
  }

  function updateProduct(id) {
    var container = document.querySelector("#pop-up-container");
    var title = document.querySelector("#pop-title");


    title.textContent = "Update User";

    var name = document.querySelector("#prod_name_" + id).textContent;
    var description = document.querySelector(
      "#prod_description_" + id
    ).textContent;
    var price = document.querySelector("#prod_price_" + id).textContent;
    var stock = document.querySelector("#prod_stock_" + id).textContent;

    var form_delete_btn = document.querySelector("#form_delete_btn");
    var form_link = document.querySelector("#form_link");

    form_delete_btn.style.display = "block";
    form_link.href = `/dashboard/products/delete/${id}`;

    var form_id = document.querySelector("#form_id");
    var form_name = document.querySelector("#form_name");
    var form_description = document.querySelector("#form_description");
    var form_price = document.querySelector("#form_price");
    var form_stock = document.querySelector("#form_stock");

    form_id.value = id;
    form_name.value = name;
    form_description.value = description;
    form_price.value = price;
    form_stock.value = stock;

    container.style.display = "flex";

    console.log(price);
  }
</script>
{% endblock %}