{% extends "base.html"%} {% block content %}

<style>
  #shopping-cart {
    display: flex;
  }

  #shopping-cart > :first-child {
    padding: 20px;
    width: 600px;
  }

  .cart-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 10px;
  }

  .cart-table {
    width: 600px;
    display: flex;
    flex-flow: row wrap;
  }

  .cart-table .t-item {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 20px;
  }

  .t-item {
    margin-bottom: 10px;
  }

  .t-item > :first-child {
    padding: 20px;
  }

  .t-item > :last-child > div {
    padding: 20px;
  }

  .t-item > :first-child > div {
    display: flex;
    flex-flow: column wrap;
    width: 350px;
    gap: 10px;
  }

  .t-details-container {
    text-align: center;
  }

  .c-item-title {
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 10px;
  }

  .c-remove-btn {
    text-decoration: none;
  }

  .c-quantity > * {
    padding: 10px;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 5px;
    border: none;
    background: none;
    width: 40px;
    height: 40px;
  }

  .c-quantity > label {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 15px;
  }

  .t-item-title {
    font-weight: bolder;
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid black;
    padding-bottom: 10px;
  }

  .t-details {
    margin-top: 20px;
  }

  .shopping-cart > :last-child {
    padding: 20px;
    width: 200px;
  }

  .summary-title {
    margin-bottom: 10px;
  }
</style>
<style>
  .order-summary {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    height: 450px;
    width: 200px;
    gap: 20px;
  }
  .summary-item h3 {
    color: gray;
  }

  .summary-item p {
    margin-top: 10px;
    color: gray;
  }

  .summary-totals {
    display: flex;
    flex-flow: column wrap;
    gap: 20px;
  }

  #price-total {
    color: black;
    font-weight: bolder;
  }

  input[type="number"] {
    position: relative;
    padding-right: 30px; /* Space for custom buttons */
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
  }

  #paypal-button-container{
    width: 100%;
  }

  #payment {
    border: 1px solid black;
    text-decoration: none;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
  }
</style>
<section class="container">
  <div id="shopping-cart">
    {% include "_shopping_cart.html"%}
  </div>
</section>

{% endblock %}
